.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    
}
.formContainer{
    margin-top: 3%;
    padding: 5%;
    width: 95%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
}
.itemImg{
    height:20vh;
    width: auto;
}
.texts{
    margin-left: 2%;
    width: 30vh;
}
.itemContainer{
    padding:1%;
    margin: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 10vh;
    background-color: #1F2F22;
}

.btn{
    margin-top: 2%;
    padding: 1% 3% 1% 3%;
    /* width: 100%; */
    text-align: center;
    background-color: transparent;
    border: 0.5px solid #4A6650;
    border-radius: 20px;
    font-weight: bold;
}
.btn:hover{
    background-color: #4A6650;
    color: white;
}
.btn:active{
    background-color: #4A6650;
    color: white;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

form{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 85%;
    height: 3vh;
    padding: 2%;
    margin: 2%
}
.buttonForm{
    background-color: #1F2F22; 
    color: white;
    width: 50%;
    height: 5vh;
    border: transparent;
    border-radius: 2px;
    padding: 2%;
    font: 2vw;
}
.cartBtn{
    background-color: transparent;
    border: none;
}
.cartWidget{
    background-color: transparent;
    color: white;
    font-size: 15px;
    text-align: center;
}

.btnContainer{
    display: flex;
    flex-direction: row;
}

.shoppingCart{
    width: 50%;
    height: auto;
    cursor: pointer;
    
}
.cartWidgetDisplay{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}