.displayItems{
    display: flex;
    flex-direction: row;
    padding-right: 1%;
    margin: 2%;
    align-items: center;
 
}
.imgItems{
    width: 15vw;
    height: auto;
}
.infoBtn{
    width: 25%;
}