.counterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    
}

.counterBtn{
    width: 5vw;
    height: 8vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    background-color: transparent;
    border: none;
    color: #1F2F22;
    margin: 0 1vw 0 1vw;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
}