.btnBox{
    width: 98%;
    display: flex;
}

.btnSubtract{
    width: 5vw;
    background-color: transparent;
    border: 0.5px solid #4A6650;
    border-radius: 20px 0px 0px 20px;
}
.btnAdd{
    width: 5vw;
    background-color: transparent;
    border: 0.5px solid #4A6650;
    border-radius: 0px 20px 20px 0px;
}
.btnNum{
    width: 10vw;
    text-align: center;
    border-bottom: 0.5px solid #4A6650;
    border-top: 0.5px solid #4A6650;

}
.btnSubtract:hover,.btnAdd:hover {
    background-color: #4A6650;
    color: white;
}

.btnSubtract:active,.btnAdd:active {
    background-color: #4A6650;
    color: white;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}